body{
    background-color: #929aa2;
}
.pagrindinisfonas{
    background-color:  #929aa2;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
}
.fonas{
    background-color:  #929aa2;
    width: 70%;
    height: 100%;
    margin: auto;
    padding-top: 6px;
    padding-left: 6px;
}
.juosta{
    width: 70.5%;
    height: 70px;
    background-color:  #929aa2;
    margin: auto;
    
}
.pagrpav{
    width: 100%;
    height: 430px;
    background-color:#929aa2;
    position: relative;
}
.pav1{
    width: 125px;
    background-color:  #929aa2;
    height: 45px;
    float: left;
    text-align: center;
    position: relative;
}
a.j:link, a.j:visited{
    width: 125px;
    background-color: #929aa2;
    height: 43px;
    float: left;
    text-align: center;
    font-family: 'Advent Pro';
    padding-top: 20px;
    font-size: 18px;
    color: #1d2625;
    text-decoration: none;
}
a.j:hover, a.j:active{
    background-color: #1d2625;
    color: #929aa2
}
.pavadinimas{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: #929aa2;
}
.strpav{
    width: 100%;
    height: 150px;
}
.strant{
    width: 90%;
    margin: auto;
    height: 28px;
    font-family: 'Advent Pro';
    font-size: 20px;
    color: #929aa2;
    border-bottom: 2px solid #3a5154;
    text-align: center;
}
.strtek{
    width: 100%;
    height:85px;
    margin-top: 5px;
    font-family: 'Cormorant Upright';
    font-size: 15px;
    color: #929aa2;
    text-align: center;
}
.strdat{
    width: 100%;
    height:px;
    margin-top: 5px;
    font-family: 'Cormorant Upright';
    font-size: 15px;
    color: #3a5154;
    text-align: center;
}
a.str:link, a.str:visited{
    background-color:#1d2625;
    width:30%;
    height: 300px;
    float: left;
    margin:5px;
    padding: 8px;
    text-decoration: none;
}
a.str:hover, a.str:active{
    background-color: #3a5154;
}